
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  

.container {
    width: fit-content;
    height: 100%;
    margin: 2em auto;
}

.heading {
    text-align: center;
    text-decoration: underline;
}

.table-header {
    display: flex;
}

.table-header-cell {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0.5em 0;
    min-width: 100px;
    text-align: center;
}

.table-row {
    height: 80px;
    cursor: pointer;
}

.table-row:hover {
    background-color: rgba(0,0,0,0.2);
}

.table-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 100%;
    border: 1px solid rgba(0,0,0, 0.2);
    padding: 0 8px;
    overflow: hidden;
}

.checkbox {
    width: 1em;
    height: 1em;
    cursor: pointer;
    margin: auto;
}

.table-cell--text {
    width: 100%;
    font-size: 14px; 
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex--row {
    flex-direction: row;
}

.flex--column {
    flex-direction: column;
}
